@page "/fetchdata"

@using AutoSell.Web.Data
@using AutoSell.Data.Models;
@inject ItemService ItemService

<h1>Item data</h1>

<p>This component demonstrates item data from a service.</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Created</td>
                    <td>@item.ItemStatusId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Item[] items;

    protected override async Task OnInitializedAsync()
    {
        items = await ItemService.GetAllAsync();
    }
}
